################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WuLang.Common/.vs/WuLang.Common/v15
/WuLang.Common/packages
/WuLang.Common/WuLang.Common/obj/Debug
